.nav{
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  padding-block-start: 36px;
  padding-block-end: 36px;
  background-color: transparent;

  &__burger{

    background-color: transparent;
    border: 0;
    
    .line{
      height: 2px;
      width: 2rem;
      background-color: var(--Beige);
      margin-bottom: 8px;
      border-radius: 2px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    
  }

    &__artist-name {
      text-align: center;
      font-family: Century Gothic;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04375rem;
    }

    &__list{
      display: none;
    }
}


@media screen and (min-width: 1280px) {

  .nav{

    position: static;
    height: 4rem;
    
    &__burger{
      display: none;
    }

    &__artist{
      margin-left: 2rem;
    }
  
    &__list{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      width: 24rem;
      list-style-type: none;


      li{
        &:hover{
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  
}
