@media screen and (min-width: 1280px) {

  .homescreen {
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    
    &__social{
      position: relative;
      z-index: 2;
      background-color: var(--wineRed);
      height: calc(100vh - 4rem);
      width: 6rem;
    }

    &__components{
      height: calc(100vh - 4rem);
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
  }

}