.viewer {
  width: 100%;
  background-color: var(--black);

  position: absolute;
  z-index: 12;

  height: 100%;

  padding-block-start: 6rem;

  &__image {
    @include Center;

    &-img {
      width: 90vmin;
    }
  }

  &__actions {
    @include Center;
    flex-direction: column;
    padding: 2rem;

    &-save {
      width: 12.5rem;
      height: 3.125rem;
      flex-shrink: 0;
      border-radius: 1rem;
      background-color: var(--Orange);
      border: none;

      color: var(--black);
      color: #07010C;
      text-align: center;
      font-family: Century Gothic;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04375rem;

      margin-bottom: 1.37rem;
    }

    &-back {
      width: 12.5rem;
      height: 3.125rem;
      flex-shrink: 0;
      border-radius: 1rem;
      border: 1px solid #F28357;
      background: #07010C;

      color: #F28357;
      text-align: center;
      font-family: Century Gothic;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.04375rem;
    }

  }
}


@media screen and (min-width: 1280px) {
  .viewer {
    display: flex;
    flex-direction: row;
    @include Center;

    height: calc(100vh - 4rem);
    padding: 0;

    background: linear-gradient(90deg, hsla(350, 63%, 16%, 1) 0%, hsla(350, 71%, 21%, 1) 100%);

    &__image {
      width: 50%;
      
      &-img {
        scale: 0.7;
          box-shadow: 20px 20px 20px 5px darken(#430F18, 5);      }
    }

    &__actions {
      width: 20%;
    }

    &__actions {
      &-back {
        background-color: transparent;
      }
    }
  }
}